body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;
  background-color: #b2e0df;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex: 1; /* This allows the content to expand and fill the space */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, p, .p-2 {
  color: #31525B;
  /* text-shadow: 0px 2px 3px black; */
}

h4 {
  color: white;
  text-shadow: 1px 1px 1px black;
}

input {
  padding: 0.5em;
}

*:focus, button:focus, input:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px blue; */
}

button, .btn {
  padding: 1em;
  /* box-shadow: 0 45px 65px rgba(0, 0, 0, 0.50), 0 35px 22px rgba(0, 0, 0, 0.16); */
  background: #31525B;
}

button:focus-visible, .btn-primary:focus-visible,
button:focus, .btn-primary:focus,
button:active, .btn-primary:active {
  padding: 1em;
  background: #31525B;
  color: white;
}

.card-body .btn-primary {
  width: 250px;
}

/* MODAL BUTTON */
.btn-secondary {
  background: #31525B;
  color: white;
}

.card-body .btn-primary:focus-visible,
.card-body .btn-primary:focus,
.card-body .btn-primary:active,
.card-body .btn-primary:hover,
/* MODAL BUTTON */
.btn-secondary:focus-visible,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:hover {
  background: #31525B;
  color: white;
}
