.aboutUsWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2,
h3,
h4 {
  color: #333;
}

#newReleasesSection {
  margin: 2em 0 !important;
}

p.para {
  width: 90%;
  margin: auto;
}

.contentSection,
.newReleasesSection {
  margin-bottom: 30px;
}

.newReleasesSection h3 {
  margin-bottom: 20px;
  text-align: center;
}

.moviesDisplay {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 20px;
}

.movieCard {
  flex: 1 1 calc(33.33% - 10px);
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  /* height: 500px; */
  text-align: center;
  background-color: #31525B;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}

.movieCard h3, h4 {
  margin: 1em;
  color: rgb(232, 17, 17) !important;
  text-shadow: 1px 1px black;
  height: 45px !important;
}

.movieCard p {
  color: white;
  margin: 1em;  
  height: 100% !important;
}

.movieCard img {
  border: 1px solid white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}

@media (max-width: 768px) {

  p.para {
    width: 80%;
    margin: auto;
  }
  
  .moviesDisplay {
    flex-wrap: wrap;
  }

  .movieCard {
    flex-basis: calc(30% - 20px);
  }
}

@media (max-width: 480px) {
  .movieCard {
    flex-basis: 100%;
  }
}
