/* |||||||||||| BODY CSS ||||||||||||||| */
/* Ensure the body and html take up at least the full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
}

/* |||||||||||| NAVBAR CSS ||||||||||||| */
/* Sticky Navbar CSS */
.navbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1020; /* Ensures navbar is above other content */
}

/* |||||||||||| CONTAINER CSS |||||||||| */
/* Flexbox layout for .App to push the footer to the bottom */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Content wrapper to allow for flex growth */
.content-wrapper {
  flex: 1;
  width: 100%;
  padding: 0;
} 

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* |||||||||||| Footer CSS |||||||||||| */
.footer {
  width: 100%;
}
