/* Base styles */
#chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-areas:
    "aside-0 aside-1 aside-1"
    "aside-2 aside-1 aside-1"
    "aside-2 aside-1 aside-1";
  gap: 20px;
  margin: 1rem;
  align-content: center;
  justify-content: center;
}

#chart-aside-0 {
  grid-area: aside-0;
  margin: auto;
}

#chart-aside-1 {
  grid-area: aside-1;
}

#chart-aside-2 {
  grid-area: aside-2;
}

.rainbow-box {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chart-aside-0,
#chart-aside-1,
#chart-aside-2 {
  background: #31525B;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 10px 20px;
  color: white;
  padding: 1em;
  box-shadow: 0 45px 65px rgba(0, 0, 0, 0.50), 0 35px 22px rgba(0, 0, 0, 0.16);
}

#chart-aside-0 > div {
  box-shadow: 0 45px 65px rgba(0, 0, 0, 0.50), 0 35px 22px rgba(0, 0, 0, 0.16);
}

#aside-note {
  color: white;
  text-shadow: 0 2px 3px black;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  /* Adjust as needed for larger tablet or small desktop screens */
}

@media (max-width: 768px) {
  #chart {
    grid-template-areas:
      "aside-0"
      "aside-1"
      "aside-2";
    gap: 10px; /* Adjust spacing for smaller screens */
  }

  .rainbow-box {
    margin: 10px; /* Reduce margins for better fit on smaller screens */
  }
}

@media (max-width: 555.56px) {
  #chart {
    grid-template-areas:
      "aside-0"
      "aside-1"
      "aside-2";
    gap: 10px; /* Ensure consistent spacing on very small screens */
  }

  .rainbow-box {
    margin: 5px; /* Further reduce margins for very small screens */
  }
}
