.content-wrapper {
  flex: 1 1;
  width: 80%;
}

#contact-wrapper {
  padding: 0 2em 1em;
}

.vstack {
  text-align: left;
}

.form-label {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  color: #31525B;
}

#contact-submit {
  background: #31525B;
  margin: 1.5em;
  width: 300px;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 70% !important;
  }

}

@media (max-width: 768px) {

  .col-md-6 {
    flex: 0 0 auto;
    width: 80% !important;
    margin: auto;
  }

  .vstack {
    text-align: center;
  }

}