/* /////////////// CARD STYLING ///////////////// */
.card {
  /* min-width: %; */
  margin: 1em auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}

#movie-desc.card-text {
  max-height: 150px;
  height: 150px;
  overflow-y: scroll;
}

.popular-movies .movie-card img {
  height: 428px;
  width: 285px !important;
  border: 1px solid transparent;
  background: #31525B;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important; */

  box-shadow: 0 10px 30px rgba(0,0,0,0.60), 0 5px 26px rgba(0,0,0,0.30);
}

.card-img-top {
  height: 428px;
  background: #31525B;
}

.card-body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.card-title.h5 {
  color: #31525B;
  font-weight: bold;
  text-align: center;
  /* text-shadow: 1px 1px 0px black; */
}

@media (max-width: 555.56px) {
  img {
    height: 100%;
    width: 100% !important;
  }
}

/* /////////////// STAR RATING ///////////////// */
.star-rating {
  font-size: 24px; /* Adjust the font size as needed */
}

.star-filled {
  color: gold; /* Color for filled stars */
}

.star-empty {
  color: gray; /* Color for empty stars */
}

/* /////////////// MODAL BOX ///////////////// */
div.modal-dialog {
  padding: 1rem;
  top: -4em;
}

#modal-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

img {
  width: 100%;
}

@media (max-width: 400px) {
  .card {
    width: 20rem;
  }
}
