#review-wrapper {
  padding: 1em;
}

#review-wrapper > div.search-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  padding: 2em;
}

/* Initial styling for react-select containers */
.react-select-container {
  width: 100%; /* Ensures select takes full width of its parent container */
  max-width: 300px; /* Optional: Adjust based on your design needs */
  margin: 0 auto; /* Centers the select in its container */
}

.bySeason-filter-container,
.react-select__control {
  width: 100%;
}

div.icon-wrapper {
  padding: 2em;
}

@media (max-width: 1021px) {

  #review-wrapper > div.search-wrapper > div {
    display: block;
  }

  .react-select-container {
    max-width: 100%; /* Allows select to expand to 100% of its container's width */
    margin-bottom: 10px; /* Adds space between stacked selects */
  }
}


@media (max-width: 768px) {
/* @media (max-width: 555.56px) { */

  input {
    width: 80%;
  }

  .bySeason-filter-container,
  .react-select__control {
    width: 100%;
    margin: 1em auto 2em !important;
  }

  .react-select__indicators {
    height: 70px;
    margin: auto !important;
  }

  .react-select-container {
    padding: 0.5em;
    width: 400px;
    height: 90px;
    font-size: 0.85rem;
  }
}